<!DOCTYPE html>
<html>
  <head>
    <title>{{#if title}}{{title}}{{else}}GalleryJs{{/if}}</title>
    <link rel="icon" type="image/png" href="/img/iconemain.png">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.poptrox-2.1.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/skel.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="/css/skel-noscript.css" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/style-desktop.css" />
      <link rel="stylesheet" href="/css/style-noscript.css" />
    </noscript>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
  </head>
  <body>
  <div id="wrapper">
    <div id="main">
      <div id="reel">
      {{{body}}}
      </div>
    </div>
    <div id="footer">
      <div class="left">
        <p><strong>{{brand}}</strong>
          {{{description}}}
        </p>
      </div>
      <div class="right">
        <ul class="contact">
          <li><a href="http://twitter.com/FabbookFr" class="icon icon-twitter"><span>Twitter</span></a></li>
          <li><a href="https://plus.google.com/u/0/100538506120158032985/posts" class="icon icon-google-plus"><span>Google+</span></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>